/* ===== Add Product Page ===== */

.add-product-container {
  margin-top: 40px;
  min-height: 70vh;
  display: flex;
  margin-left: 100px;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Georgia', serif;
  color: #0c0c0c;
  padding: 60px 20px;
}

.add-product-form {
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 90px;
  border: 1px solid #ddd;
  padding: 50px 40px;
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}
.add-product-form:hover{
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.966);
     transform: translateY(-5px);
}


.add-product-form h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.add-product-form ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-product-form li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-product-form label {
  width: 200px; /* fixed width for alignment */
  font-size: 1rem;
}

.add-product-form input,
.add-product-form select {
  flex: 1;
  font-family: 'Georgia', serif;
  font-size: 1rem;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.add-product-form input:focus,
.add-product-form select:focus {
  border-color: #3d3b2f;
}

.add-product-form button {
  background-color: #3d3b2f;
  color: #fff;
  font-family: 'Georgia', serif;
  font-size: 1rem;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.add-product-form button:hover {
  background-color: #2c2b23;
}

@media (max-width: 768px) {
  .add-product-form li {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-product-form label {
    width: 100%;
    margin-bottom: 6px;
  }
}