/* .login-background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: -1;
    width: 100%;
    height: 100%;
    


} */
 .login-background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: rgba(0, 0, 0, 0.5); Optional: Add a semi-transparent overlay */
    /* background-image: url('https://aarsunwoods.b-cdn.net/sofa%20set%202/Wooden-Sofa-Set-Luxury-Living-Room-Furniture-UH-SF-0016-jpg.webp'); */
    /* background-size: cover;
    background-position: center; */
    /* background-repeat: no-repeat; */
    /* filter: blur(5px); Optional: Add a blur effect */

}

div .login-containerr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
    

}

.login-form{
    background-color: #cec8c853;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 400px;
}
.login-form:hover {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.89);
 transform: translateY(-5px);
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #070707;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    padding-right: 60px;
    color: #090909e3;

}
.form-group input {
    width: 100%;
    padding: 10px;
    padding-right: 10px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #0a0a0a;
    border-radius: 4px;
    font-size: 16px;
}
